body {
  background: #e3e3e3;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
.wrapper {
  text-align: center;
  color: white;
  padding-top: 40px;

  > a {
    cursor: pointer;
    text-decoration:none;
    background: #68a54b;
    padding: 12px 16px;
    width: 100px;
    margin: auto;
    border-radius: 6px;
    margin-bottom: 1em;
  }
  > * {
    display: block;
  }
}
