@keyframes rainbow {
  0%, 100% { color: #7ccdea; }
  16%      { color: #0074D9; }
  32%      { color: #2ECC40; }
  48%      { color: #FFDC00; }
  64%      { color: #B10DC9; }
  80%      { color: #FF4136; }
}

body {
  background: #e3e3e3;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
.wrapper {
  text-align: center;
  color: white;
  padding-top: 40px;

  > a {
    cursor: pointer;
    text-decoration:none;
    background: #68a54b;
    padding: 12px 16px;
    width: 100px;
    margin: auto;
    border-radius: 6px;
    margin-bottom: 1em;

    &.effect-on {
      animation: rainbow 3s infinite;
    }
  }
  > * {
    display: block;
  }
}
